$main-background-color: #C0C0C0;
$main-font: "Open Sans", sans-serif;
$main-button-color: rgba(240, 128, 128, 0.8);
$main-button-border-color: #F08080;
$main-button-width: 200px;
$main-button-height: 100px;
$small-radius: 2%;
$normal-border: 3px;
$focus-border: 6px;
$main-button-font-color: #800000;
$offset: 10px;
$translucent: rgba(0,0,0,0.5);
$overlay: rgba(0, 0, 0, 0.8);
$popup-padding: 40px;
$popup-width: 800px;
$popup-height: 600px;
$popup-background: #FFFFFF;
$close-button-side: 40px;
$danger-sign-side: 200px;
$danger-sign-margin: 50px;
$question-width: 700px;
$question-font-size: 45px;
$question-color: #696969;
$button-margin: 50px;
$button-border-color: #C0C0C0;
$button-width: 300px;
$button-height: 60px;
$button-font-color: #808080;
$button-font-size: 30px;
$red-button-font-color: #FFFAFA; 
$red-button-background: #ff3b30;
$popup-offset: 3px;